@import "tailwindcss";
@source "../";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .fire-shadow {
    box-shadow: 0px 8px 32px 0px rgba(255, 255, 255, 0.15),
      0px 8px 24px 0px rgba(255, 255, 255, 0.1),
      0px -6px 2px -2px rgba(0, 0, 0, 0.05) inset,
      0px 2px 4px 2px rgba(255, 255, 255, 0.2) inset;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
